<body>
    <form action = "/" method = "POST">
        <lable> User Name 
            <input type = "text" name="username">
        </lable>

        <lable> Password
            <input type="text" name="password">
        </lable>
        <button type="submit">
            Login
        </button>

    </form>    
</body>